<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <% include ./head %>
    <link rel='stylesheet' href='/stylesheets/sidenav.css' />
    <link rel='stylesheet' href='/stylesheets/addBook.css' />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="/javascript/addAuthor.js"></script> -->
</head>


<body>
  <header>
    <% include ./header %>
  </header>
  <main>


      <div class='row'>
        <div class="col-sm-12 col-md-3">
            <% include ./sidenav %>
        </div>
        <div class='form-container col-sm-12 col-md-9'>
          <form class="form" id="createAuthor" action="#" method="post">
              <legend><h3>ADD AN AUTHOR</h3></legend>

              <label for="first_name">FIRST NAME:</label>
              <input type="text" id='first_name' name="first_name" required>

              <label for="last_name">LAST NAME:</label>
              <input type="text" id="last_name" name="last_name" required>

              <label for="biography">BIOGRAPHY:</label>
              <textarea type="text" id="biography" name="biography"></textarea>

              <label for="portrait_url">PORTRAIT URL:</label>
              <input type="text" id="portrait_url" name="portrait_url">

              <input type="submit" class='btn btn-primary' value='Add a new author'>
            </form>
            <p id="server-status"></p>
        </div>

  </main>
  <footer>
    <% include ./footer %>
  </footer>

  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">modal</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          message comes here
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <script src="/javascript/addAuthor.js"></script>
</body>

</html>
