<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <% include ./head %>
    <link rel="stylesheet" href="/stylesheets/homepage.css">
    <link rel="stylesheet" href="/stylesheets/sidenav.css">
    <link rel="stylesheet" href="/stylesheets/all-authors.css">
</head>

  <body>
    <header>
      <% include ./header %>
    </header>
    <main>
        <% include ./sidenav %>
        <section class="main__section" id="main__section">
          <img class="portrait" alt="author-image">
          <article class="top-section">
            <h2>Author Name</h2>
            <button type="submit" class="main__btn">Edit</button>
            <button type="submit" class="main__btn">Remove</button>
          </article>
          <article class="bottom-section">
            <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro.
            De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia?</p>
            <ul class="main__ul">
              <li>Book One</li>
              <li>Book Two</li>
              <li>Book Three</li>
            </ul>
          </article>
      </section>
    </main>
  </body>
</html>
