<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <% include ./head %>
    <link rel="stylesheet" href="/stylesheets/homepage.css">
    <link rel='stylesheet' href='/stylesheets/sidenav.css' />
</head>


  <body>
    <header>
      <% include ./header %>
    </header>
    <main>
    <% include ./sidenav %>
    </main>
  </body>
</html>
