<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <% include ./head %>
    <link rel="stylesheet" href="/stylesheets/homepage.css">
    <link rel='stylesheet' href='/stylesheets/sidenav.css' />
    <link rel="stylesheet" href="/stylesheets/books.css">
    <link rel="stylesheet" href="/stylesheets/delete.css">
    <script type="text/javascript" src="/javascript/delete-book.js"></script>
</head>
  <body>
    <header>
      <% include ./header %>
    </header>
    <main>
      <div class="row">
        <% include ./sidenav %>
        <div class="all-books-container col-lg-7">
          <% include ./delete-this-book %>
          <div class="spacer">
          </div>
          <button id="big-delete-button" type="button" class="btn btn-danger btn-lg btn-block">Delete Book</button>
        </div>
      </div>
    </main>
    <footer>
        <% include ./footer %>
    </footer>
  </body>
</html>
