<div class="container-fluid">
    <ul class= 'footer-menu'>
      <li>Library 81</li>
      <li>Contributers
        <ul class='contributers'>
          <li></li>
        </ul>
      </li>
      <li></li>
      <li></li>
    </ul>
</div>
