<div class="container-fluid">
    <ul class='align-middle float-left footer-menu-left'>
      <li>LIBRARY 81</li>
      <li>Copyright © 2018</li>
    </ul>

    <ul class='align-middle float-right footer-menu-right'>
      <li><a href="https://github.com/slledru">Sukmi Ledru <i class="fab fa-github"></i></a></li>
      <li><a href="https://github.com/TheRealTorreySmith">Torrey Smith <i class="fab fa-github"></i></a></li>
      <li><a href="https://github.com/mlembke1">Mitch Lembke <i class="fab fa-github"></i></a></li>
    </ul>
</div>
