<!DOCTYPE html>
<html>
  <head>
      <% include ./head %>
      <link rel='stylesheet' href='/stylesheets/homepage.css' />
  </head>
  <body>
    <header>
      <% include ./header %>
    </header>
    <nav>

    </nav>
    <main class='main-content container-fluid'>
      <div class='row'>
        <div class="authors col-sm-12 col-md-6">
          <a href="#">
            <img src="/images/authorsphoto.jpg" class="rounded float-left" alt="Photo of an author at the typewriter">
            <p class='centered-text'>AUTHORS</p>
          </a>
        </div>
        <div class="books col-sm-12 col-md-6">
          <a href="#">
            <img src="/images/booksphoto.jpg" class="rounded float-right" alt="Photo of some books on a table">
            <p class='centered-text'>BOOKS</p>
          </a>
        </div>
      </div>
    </main>
    <footer>
        <% include ./footer %>
    </footer>
  </body>
</html>
