<!DOCTYPE html>
<html>
  <head>
      <% include ./head %>
  </head>
  <body>
    <header>
      <% include ./header %>
    </header>
    <nav>

    </nav>
    <main class='main-content container-fluid'>
      <div class='row'>
        <div class="authors col-sm-12 col-md-5">
          <img src="/images/authorsphoto.jpg" class="rounded float-left" alt="Photo of an author at the typewriter">
          <p>AUTHORS</p>
        </div>
        <div class="books col-sm-12 col-md-5">
          <img src="/images/booksphoto.jpg" class="rounded float-right" alt="Photo of some books on a table">
          <p>BOOKS</p>
        </div>
      </div>
    </main>
  </body>
</html>
