<div class="row justify-content-md-center">
  <div class="author-cover col col-lg-3">
    <div class="portrait-border">
      <img class="portrait" src= "<%= allAuthors[i].portrait_url %>" alt="author-portrait">
    </div>
  </div>
  <div class="col-md-9">
    <div class="row author-row">
      <p id="author-one" class="author"><%= allAuthors[i].first_name %></p>
      <p id="author-one" class="author"><%= allAuthors[i].last_name %></p>
      <button type="submit" class="edit-button btn btn-primary" >Edit</button>
      <button type="button" class="btn btn-sm btn-danger remove-button">Delete</button>
    </div>
    <div class="row biography-row">
      <p class="biography"><%= allAuthors[i].biography %></p>
    </div>
  </div>
</div>
<div class="spacer">
</div>
