<div class="row no-gutters">
  <div class="side-nav-container">
    <div class="top-side-nav-img">
      <img class="authors-side-nav-img centered" src="/images/authorsphoto.jpg" alt="Photo of an author at the typewriter" >
      <p class="centered">Authors</p>
    </div>
    <div class="bottom-side-nav-img">
      <img class="books-side-nav-img" src="/images/booksphoto.jpg" alt="Photo of some books on a table">
      <p class="centered">Books</p>
    </div>
  </div>
</div>
