<div class="row">
  <div class="side-nav-container col-lg-3">
    <div class="top-side-nav-img">
      <a href="/authors">
        <img class="authors-side-nav-img centered" src="/images/authorsphoto.jpg" alt="Photo of an author at the typewriter" >
        <p class="centered">AUTHORS</p>
      </a>
    </div>
    <div class="bottom-side-nav-img">
      <a href="/books">
        <img class="books-side-nav-img" src="/images/booksphoto.jpg" alt="Photo of some books on a table">
        <p class="centered">BOOKS</p>
      </a>
    </div>
  </div>
</div>
