.all-authors-container {
  margin-top: 50px;
  margin-left: 100px;
  height: 100%;
}

.author-cover {
  height: 200px;
}

.col-md-9 {
  height: 200px;
}

.row .author-row{
  height: 53px;
}

.author {
  margin: auto 0px auto 10px;
  float: left;
  font-size: 24px;
}

.remove-button {
  height: 40px;
  width: 60px;
  margin-top: 5px;
  margin-right: 10px;
  background-color: #ff6e4c !important;
  border-color: #ff6e4c !important;
}

.remove-button:hover {
  background-color: #ff7b5d !important;
  color: #ff7b5d !important;

}

.edit-button {
  height: 40px;
  width: 60px;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: auto;
  background-color: #3389ff !important;
  border-color: #3389ff !important;
}

.edit-button:hover {
  background-color: #66a6ff !important;
  color: #66a6ff !important;
}

.row .biography-row {
  height: auto;
}

.biography {
  margin: 5px 0px auto 10px;
  float: left;
}

.portrait {
  margin: auto;
  object-fit: contain;
}

.portrait-border {
  height: 90%;
  margin: 10px;
  margin-left: 20px;
}

.spacer {
  height:115px;
}
