.all-authors-container {
  margin-top: 50px;
  margin-left: 100px;
  height: 100%;
}

.author-cover {
  height: 200px;
}

.col-md-9 {
  height: 200px;
}

.row .author-row{
  height: 53px;
}

.author {
  margin: auto 0px auto 10px;
  float: left;
  font-size: 24px;
}

.remove-button {
  height: 40px;
  width: 60px;
  margin-top: 5px;
  margin-right: 10px;
}

.edit-button {
  height: 40px;
  width: 60px;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: auto;
}

/* .row .author-row {
  height: 35px;
}

.authors {
  margin: auto 0px auto 10px;
  float: left;
} */

/* .row .genre-row {
  height: 35px;
}

.genre {
  margin: auto 0px auto 10px;
  float: left; */
}

.row .biography-row {
  height: auto;
}

.biography {
  margin: 5px 0px auto 10px;
  float: left;
}

.portrait {
  margin: auto;
  object-fit: contain;
}

/* .portrait {
  object-fit: contain;
} */

.portrait-border {
  height: 90%;
  margin: 10px;
  margin-left: 20px;
}

.spacer {
  height:115px;
}
