/**************FOOTER**********/

footer {
  background-color: tomato;
  position: absolute;
  margin-top: 1em;
  width: 100%;
  color: white;
  display: inline-block;
}

footer li a {
  text-decoration: none;
  color: white;
}

footer li {
  list-style: none;
  transition: .25s;
}

footer li a:hover{
  text-decoration: none;
  color: white;
  text-decoration: none;
}


footer ul {
  margin: 1em;
  display: inline-block;
  padding-left: 0;
}

.footer-menu-left {
  margin-top: 2em;
}

.footer-menu a {
  margin: 2em;
}

.fa-github {
  margin-left: 5px;
}
