/**************GENERAL STYLES**********/
body {
  font-family: 'Lato', sans-serif;
}

/**************MAIN**********/
main img {
  width: 100%;
  height: 100%;
}

.main-content .row {
  justify-content: center;
  margin-top: 3em;
}
.main-content .row div {
  opacity: .65;
  transition: .3s;
}

.main-content .row div:hover {
  opacity: 1;
}

.main-content p {
  letter-spacing: 5px;
  color: white;
  font-size: 2em;
}

.main-content .authors {
  margin-bottom: 3em;
}

.main-content a {
  text-decoration: none;
  outline: none;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

  @media(min-width: 768px) {
    .main-content .authors {
      margin-bottom: 0;
    }
  }

/**************FOOTER**********/

footer {
  background-color: tomato;
  position: absolute;
  margin-top: 1em;
  width: 100%;
  color: white;
  display: inline-block;
}

footer li a {
  text-decoration: none;
  color: white;
}

footer li {
  list-style: none;
  transition: .25s;
}

footer li a:hover{
  text-decoration: none;
  color: white;
  text-decoration: none;
}


footer ul {
  margin: 1em;
  display: inline-block;
  padding-left: 0;
}

.footer-menu-left {
  margin-top: 2em;
}

.footer-menu a {
  margin: 2em;
}

.fa-github {
  margin-left: 5px;
}
