/**************GENERAL STYLES**********/
body {
  font-family: 'Lato', sans-serif;
}

/**************MAIN**********/
main img {
  width: 100%;
  height: 100%;
}

.main-content .row {
  justify-content: center;
  margin-top: 3em;
}
.main-content .row div {
  opacity: .65;
  transition: .3s;
}

.main-content .row div:hover {
  opacity: 1;
}

.main-content p {
  letter-spacing: 5px;
  color: white;
  font-size: 2em;
}

.main-content .authors {
  margin-bottom: 3em;
}

.main-content a {
  text-decoration: none;
  outline: none;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

  @media(min-width: 768px) {
    .main-content .authors {
      margin-bottom: 0;
    }
  }
