body {
  /* padding: 50px; */
  font-family: 'Lato', sans-serif;
}

header {
  background-color: tomato;
  color: white;
  padding: 30px;
}

main img {
  width: 50%;
  height: 100%;
}

header h1{
  font-weight: 100;
}

a {
  color: #00B7FF;
}

.top-side-nav-img {
  margin-bottom: 20px;
  margin-top: 50px;
}

.top-side-nav-img,
.bottom-side-nav-img {
  border-style: ridge;
  height: 200px;
  margin-left: 50px;
  width: 200px;
  position: relative;
  text-align: center;
  color: white;
  font-size: 30px;
}

.side-nav-container div {
  opacity: .65;
  transition: .3s;
}

.side-nav-container div:hover {
  cursor: pointer;
  opacity: 1;
}

.authors-side-nav-img,
.books-side-nav-img {
  height: 100%;
  width: 100%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
